# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Venv
.venv/
venv/
env/

# Env
.env
.env.local
.env.*.local

# Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store
